@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mask-text-british {
  background-image: url("/src/app/Flag_of_the_United_Kingdom.png"); /* Union Jack flag */
  background-size: contain; /* Ensure the entire image fits within the text */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-position: center; /* Center the background image */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
